*.[oa]
*.lo
*.loT
*.la
*.gmo
*.orig
*.rej
*~

Makefile
Makefile.in
.deps
.libs

/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/demo/demo
/demo/generic-position-demo
/demo/mv-demo
/demo/mv-generic-position-demo
/demo/mv-scalability-demo
/demo/mv-simple-demo
/demo/mv-table-demo
/demo/scalability-demo
/demo/simple-demo
/demo/table-demo
/demo/units-demo
/demo/widgets-demo
/depcomp
/goocanvas.pc
/goocanvas-2.0.pc
/gtk-doc.make
/gtk-doc.m4
/compile
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/py-compile
/po/*.header
/po/*.sed
/po/*.sin
/po/POTFILES
/po/Rules-quot
/po/Makefile.in.in
/po/Makevars.template
/po/goocanvas2.pot
/po/stamp-po
/src/goocanvasenumtypes.c
/src/goocanvasenumtypes.h
/src/goocanvasmarshal.c
/src/goocanvasmarshal.h
/src/stamp-goocanvasenumtypes.h
/src/stamp-goocanvasmarshal.h
/src/GooCanvas-2.0.gir
/src/GooCanvas-2.0.typelib
/stamp-h1
/docs/goocanvas-decl-list.txt
/docs/goocanvas-decl.txt
/docs/goocanvas-undeclared.txt
/docs/goocanvas-undocumented.txt
/docs/goocanvas-unused.txt
/docs/goocanvas.args
/docs/goocanvas.hierarchy
/docs/goocanvas.interfaces
/docs/goocanvas.prerequisites
/docs/goocanvas.signals
/docs/goocanvas2-decl-list.txt
/docs/goocanvas2-decl.txt
/docs/goocanvas2-undeclared.txt
/docs/goocanvas2-undocumented.txt
/docs/goocanvas2-unused.txt
/docs/goocanvas2.args
/docs/goocanvas2.hierarchy
/docs/goocanvas2.interfaces
/docs/goocanvas2.prerequisites
/docs/goocanvas2.signals
/docs/*.stamp
/docs/*.bak
/docs/html
/docs/xml
/docs/tmpl/goo*.sgml
/docs/tmpl/goo*.bak
